
html {
	background-color: #02010a;
}



header {
	background-color: #5b7989;
  border-top: 5px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

body{
	font-family: 'Dancing Script', cursive;
}

h1{
	color: white;
}

	#tituloprincipal {
		text-align: left;
		font-color: #FFFFFF;
		text-shadow: 2px 2px #02010a;
	}

nav{
	text-align: right;
	word-spacing: 15px;
}

   a{
		font-size: 25px;
		text-decoration: none;
		color: white;
 }



 .contenido{
 	background-color: #d5c75f;
	width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 7px hidden black;
	border-radius: 15px


 }

 .central{
	 width: 100%
	 display:flex;
	 background-color: #82c3a6;
	 }


 #imgprincipal {
	 display: flex;
	 margin-left: auto;
	 margin-right: auto;
	 width: 80%;
	 box-shadow: 2px 2px #02010a;
}

#imgpaisajes {
display: block;
width: 90%;
margin-left: auto;

margin-bottom: auto;
box-shadow: 2px 2px #02010a;
height: 90%;
}

  #imgpaisajes:hover{
 	 transform:rotate(10deg);
 	 box-shadow: 2px 2px #82c3a6;
 }

  #imgretratos {
 display: block;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 box-shadow: 2px 2px #02010a;
 height: 90%;
 }

 #imgretratos:hover {
	 transform: translate(5px, 20px);
	 box-shadow: 2px 2px #82c3a6;
 }

.secundario{
	width: 100%;
	background-color: #d5c75f;

}

.c1{
	 display: flex;
	 background-color: inherit;
	 width: 50%;
	 float: left;
	 border: 1px;
	 height: 100%;
	}

	.c2{
	 display:flex;
	 background-color: inherit;
	 width: 50%;
	 float: right;
	 border: 1px;
	 height: 100%;
}

footer{
	border-bottom: : 5px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footert > div {
	width: 50%;
	background-color: #C6d5c5;
}

.foot1, .fc1, .fc3{
	float: left;
}

.foot2, .fc2, .fc4{
	float: right;
}

h3, p{
text-align: center;
}

.foot1{
  border-bottom-left-radius: 10px;
  border-bottom: 5px solid black
}

.foot2{
  border-bottom-right-radius: 10px;
  border-bottom: 5px solid black
}

 @media (max-width:900px) {

	 div{
		 width: 100%;
		 }

	 div.c1{
	 	display: flex;
	 	background-color: inherit;
		width: 100%;

		order:2;
border: 1px;
}

	 div.c2{
	 	display:flex;
	 	background-color: #d5c75f;
 width:100%;
			order:1;
			border: 1px;
	}

	div.foot1{
		width:100%;
		order: 1;
	}

	div.foot2{
		width:100%;
		order: 2;
	}
	.foot1{
    border-bottom-left-radius: 0px;
  }

  .foot2{
    border-bottom-left-radius: 10px;
  }


}
